<title>Add Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">TUTION MANAGEMENT SYSTEM</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminaddfaculty">Add Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminaddstudent">Add Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminaddcourse">Add Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminviewstudent">View Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminviewevent">View Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/addemployee">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminscheduleclass">Schedule Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/adminlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Admin Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">EMPLOYEE REGISTRATION</h1><br>
          <div class="row">
          <div class="col-sm-4">
            <div style="margin:auto;border:2px solid white;border-radius:5px;padding: 10px;">
              <h3 style="text-align: center;">Employee Registration(All information required*)</h3>
                <form action="#" post="method">
                  <div class="form-group">
                    <label for="eid">Employee Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="employee.eid" placeholder="Enter Employee Id while updating Only" id="eid" name="eid">
                  </div><br>
                  <div class="form-group">
                    <label for="empname">Employee Name:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="employee.empname" placeholder="Enter Employee Name" id="empname" name="empname" required>
                  </div><br>  
                    <div class="form-group">
                        <label for="address">Address:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="employee.address" placeholder="Enter Address" id="address" name="address" required>
                      </div><br>
                      <div class="form-group">
                        <label for="empdesignation">Employee Designation:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="employee.empdesignation" placeholder="Enter Employee Designation" id="empdesignation" name="empdesignation" required>
                      </div><br>
                      <div class="form-group">
                        <label for="phone">Phonenumber:</label><br>
                        <input type="tel" class="form-control" [(ngModel)]="employee.phone" placeholder="Enter Phonenumber" id="phone" name="phone" pattern="[0-9]{12}" required>
                      </div><br>
                      <div class="form-group">
                        <label for="salary">Monthly Salary:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="employee.salary" placeholder="Enter Monthly Salary" id="salary" name="salary" required>
                      </div><br>
                      <div class="form-group">
                        <label for="paymentstatus">Payment Status:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="employee.paymentstatus" placeholder="Enter Month - Status" id="paymentstatus" name="paymentstatus" required>
                      </div><br>
                      <div class="form-group">
                        <label for="date">Date Of Payment:</label><br>
                        <input type="date" class="form-control" [(ngModel)]="employee.date" placeholder="Enter Date Of Salary Payment" id="date" name="date" required>
                      </div><br>
                    <input type="submit" class="btn btn-primary" style="width:45%;font-size:30px;background-color:blue;color:white;" value="Register" (click)="employeeNow()">
                    <input type="submit" class="btn btn-success" style="width:45%;font-size:30px;background-color:coral;color:white;" value="Update" (click)="updateEmployeeNow()"><br>
                
                </form>
                </div>
              </div><br><br><br><br><br>
              <div class="col-sm-8">
                <h3 style="text-align: center;">Search Employee By Eid</h3>
                <br>
                <div class="form-group">
                    <label for="search">Search By Eid:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By Eid" id="search" name="search"><br>
                    <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
                  </div><br>
                  <table class="table table-dark table-responsive">
                    <tr>
                        <th>Eid</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Monthly Salary</th>
                        <th>Payment Status</th>
                        <th>Date Of Payment</th>
                        <th>Delete</th>
                    </tr>
                    <tr >
                        <td>{{employee.eid}}</td>
                        <td>{{employee.empname}}</td>
                        <td>{{employee.address}}</td>
                        <td>{{employee.empdesignation}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.paymentstatus}}</td>
                        <td>{{employee.date}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delEmployee(employee.eid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                    </tr>
                </table>
                <br>

                <h3 style="text-align: center;">List of Employees</h3>
                <br>
                <table class="table table-dark table-responsive">
                  <thead>
                  <tr>
                    <th>Eid</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Designation</th>
                    <th>Phone</th>
                    <th>Monthly Salary</th>
                    <th>Payment Status</th>
                    <th>Date Of Payment</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let employee of employees">
                    <td>{{employee.eid}}</td>
                        <td>{{employee.empname}}</td>
                        <td>{{employee.address}}</td>
                        <td>{{employee.empdesignation}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.paymentstatus}}</td>
                        <td>{{employee.date}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delEmployee(employee.eid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>
                  </tbody>
              </table><br><br>
 
              </div>
        </div>
        </div>
    </div>
