<title>Add Course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">TUTION MANAGEMENT SYSTEM</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminaddfaculty">Add Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminaddstudent">Add Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/adminaddcourse">Add Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminviewstudent">View Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminviewevent">View Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addemployee">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminscheduleclass">Schedule Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/adminlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Admin Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">COURSES</h1><br>
          <div class="row">
          <div class="col-sm-4">
            <div style="margin:auto;border:2px solid white;border-radius:5px;padding: 10px;">
              <h3 style="text-align: center;">Add Courses(All information required*)</h3>
                <form action="#" post="method">
                  <div class="form-group">
                    <label for="cid">Course Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="course.cid" placeholder="Enter Course Id while updating Only" id="cid" name="cid">
                  </div><br>
                  <div class="form-group">
                    <label for="coursename">Course Name:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="course.coursename" placeholder="Enter Course Name" id="coursename" name="coursename" required>
                  </div><br>  
                    <div class="form-group">
                        <label for="courseduration">Course Duration:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="course.courseduration" placeholder="Enter Course Duration" id="courseduration" name="courseduration" required>
                      </div><br>
                      <div class="form-group">
                        <label for="coursefees">Course Fees:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="course.coursefees" placeholder="Enter Course Fees" id="coursefees" name="coursefees" required>
                      </div><br>
                     
                    <input type="submit" class="btn btn-primary" style="width:45%;font-size:30px;background-color:blue;color:white;" value="Register" (click)="courseNow()">
                    <input type="submit" class="btn btn-success" style="width:45%;font-size:30px;background-color:coral;color:white;" value="Update" (click)="updateCourseNow()"><br>
                
                </form>
                </div>
              </div><br><br><br><br><br>
              <div class="col-sm-8">
                <h3 style="text-align: center;">Search Course By Cid</h3>
                <br>
                <div class="form-group">
                    <label for="search">Search By Cid:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By Cid" id="search" name="search"><br>
                    <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
                  </div><br>
                  <table class="table table-dark table-responsive-sm">
                    <tr>
                        <th>Cid</th>
                        <th>Course Name</th>
                        <th>Course Duration</th>
                        <th>Course Fees</th>
                        <th>Delete</th>
                    </tr>
                    <tr >
                        <td>{{course.cid}}</td>
                        <td>{{course.coursename}}</td>
                        <td>{{course.courseduration}}</td>
                        <td>{{course.coursefees}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delCourse(course.cid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                    </tr>
                </table>
                <br>

                <h3 style="text-align: center;">List of Courses</h3>
                <br>
                <table class="table table-dark table-responsive-sm">
                  <thead>
                  <tr>
                    <th>Cid</th>
                    <th>Course Name</th>
                    <th>Course Duration</th>
                    <th>Course Fees</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of courses">
                    <td>{{course.cid}}</td>
                    <td>{{course.coursename}}</td>
                    <td>{{course.courseduration}}</td>
                    <td>{{course.coursefees}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delCourse(course.cid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>
                  </tbody>
              </table><br><br>
 
              </div>
        </div>
        </div>
    </div>
