<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
</head>
<body style="background-color:lightgoldenrodyellow; padding: 1% 1%;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <h1 style="text-align: center;font-size: 50px;">TUTION MANAGEMENT SYSTEM</h1><br>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminlogin">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/facultylogin">FacultyLogin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/studentlogin">Student Login</a>
        </li>
      </ul><br>
    <div style="margin: auto;border: 2px solid violet;border-radius: 5px;padding: 5px 26px;background-color: white; width:65%;">
        <br><br><h1 style="text-align: center;">FACULTY LOGIN</h1><br>
        <h5 id="demo1" style="color:red;">Two Consecutive clicks with a Time gap to Login : {{msg}}</h5><br>
        <form action="#" method="post">
            <div class="form-group">
                <label for="username">USERNAME :</label><br>
                <input type="text" class="form-control" [(ngModel)]="test.facultyusername" placeholder="Enter Username" id="username" name="username">
              </div><br>
              <div class="form-group">
                <label for="password">PASSWORD :</label><br>
                <input type="text" class="form-control" [(ngModel)]="test.facultypassword" placeholder="Enter Password" id="password" name="password">
              </div><br> 
              <button class="btn btn-success w-100" (click)="searchById(test.facultyusername,test.facultypassword)" style="background-color: green;color:white;">SIGN IN</button><br>
        </form><br>
    </div>
</body>
</html>
