<title>View Student Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">TUTION MANAGEMENT SYSTEM</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/studentprofile/{{student.sid}}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewclassschedule/{{student.sid}}">View Class Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/studentlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Student {{student.studusername}} Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
          <div class="row">
            <div class="col-sm">
            <h1 style="text-align:center;">VIEW PROFILE</h1><br>
            <div class="row">
                <div class="col-sm">
                <div style="margin: auto;border: 2px solid violet;border-radius: 5px;padding: 5px 26px;width:70%;">
                <h1 class="text-center">Student Details</h1><br>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <img src="assets/icon-g81b0c3767_1920.png" style="width:300px; height:300px;">
                    </div>
                    <div class="col-sm"></div>
                </div><br>
                <table class="table table-dark table-responsive-sm">
                  <tr>
                    <td>Id </td>
                    <td>{{student.sid}}</td>
                  </tr>    
                  <tr>
                    <td>Name</td>
                    <td>{{student.name}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{student.address}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{student.email}}</td>
                  </tr>
                  <tr>
                    <td>Course</td>
                    <td>{{student.course}}</td>
                  </tr>
                  <tr>
                    <td>Phonenumber</td>
                    <td>{{student.phone}}</td>
                  </tr>
                  <tr>
                    <td>Total Fees</td>
                    <td>{{student.totalfees}}</td>
                  </tr>
                  <tr>
                    <td>Fees Paid</td>
                    <td>{{student.paidfees}}</td>
                  </tr>
                  <tr>
                    <td>Balance Fees</td>
                    <td>{{student.balancefees}}</td>
                  </tr>
                  <tr>
                    <td>Fines</td>
                    <td>{{student.fines}}</td>
                  </tr>
                  <tr>
                    <td>Reservation Charges</td>
                    <td>{{student.reservationcategorycharges}}</td>
                  </tr>
                  <tr>
                    <td>Fees Payment Date</td>
                    <td>{{student.feespaymentdate}}</td>
                  </tr>
                  <tr>
                    <td>Username</td>
                    <td>{{student.studusername}}</td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td>{{student.studpassword}}</td>
                  </tr>
              </table><br>
                </div><br><br>
                </div>
    
                </div>
    
    
            </div>
        </div>